*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1) Базові типографіка/висота */
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* 2) Медія елементи адаптивно */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
svg {
  vertical-align: middle;
}

/* 3) Форми: наслідування шрифтів/кольорів */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

/* 4) Фокус — доступність */
:focus-visible {
  outline: 2px solid Highlight; /* системний колір */
  outline-offset: 2px;
}

/* 5) Fieldset/legend — прибрати дефолтні артефакти */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
legend {
  padding: 0;
}

/* 6) Прихований текст для а11y */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* 7) Зменшення анімацій, якщо користувач просить */
/* @media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* CONTAINER */

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

.container {
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  outline: 1px solid teal;
}

/* VARIABLES */

:root {
  --font-base: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;

  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
  --color-accent: #111827;
  --color-danger: #ef4444;
  --color-star: #facc15;
}

body {
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
}


/* HEADER */

.header {
  /* position: sticky; */
  top: 0;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid var(--color-border);
  backdrop-filter: blur(3px);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
}
.header__actions {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  color: var(--color-accent);
}

.logo__letter {
  display: inline-block;
  text-align: center;

  width: 30px;
  height: 30px;

  color: var(--color-bg);
  background: var(--color-accent);
}


