body {
  font-family: $font-main;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $color-text;
  // background: linear-gradient(to bottom left, #ead3a4, #bea170);
  background: linear-gradient(to bottom left, #01016d, #550101);

}

.container {
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main__inner {
  display: flex;
  align-items: flex-start;
  gap: 25px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.visually-hidden {
  @extend %visually-hidden;
}

.icon {
  &--search {
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 3;

    fill: $color-accent;
  }

  &--enveloppe {
    fill: $color-bg;
  }
}
