@mixin flex-center($justify: center, $gap: 0) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-start($gap: 0) {
  @include flex-center(flex-start, $gap);
}
