$font-main: 'Poppins', sans-serif;

// ---------- Typography ----------
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-large: 700;

// ---------- Border Radius ----------
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 10px;

// ---------- Base ----------
$color-bg: #ffffff;
$color-footer-bg: #f9fafb;
$color-text: rgb(37, 37, 37);
$color-border: #c0c0c0;

// ---------- Brand / Accent ----------
$color-primary: #030213;
$color-accent: #717182;

// ---------- UI ----------
$color-input-bg: #f3f3f5;
$color-destructive: #d4183d;


// DARK THEME

// .dark {
//   $color-bg: #1c1c1e;
//   $color-text: #fafafa;
//   $color-border: #37373c;

//   $color-primary: #f5f5f5;
//   $color-accent: #b4b4b4;
//   $color-secondary: #2a2a2c;

//   $color-input-bg: #37373c;
//   $color-destructive: #7d2319;
// }


// ADAPIVE

$mobile: 480px;
$tablet: 768px;
$laptop: 1200px;

