.catalog {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__controls {
    display: flex;
    gap: 30px;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }
  &__title {
    font-size: 18px;
    font-weight: $font-weight-normal;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: inline-block;
  }
}

.view-toggle {
  display: flex;
  border: 1px solid #6d6d6d;
  border-radius: 6px;
  overflow: hidden;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 37px;
    height: 35px;

    font-size: 18px;
    border: none;
    background-color: white;

    &--active {
      // color: white;
      background-color: black;
    }
    // outline: 1px solid teal;
  }
}

.sort {
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    top: 8px;
    left: 10px;
  }

  &__select {
    // max-width: 200px;
    width: 260px;
    height: 38px;
    padding-left: 80px;

    border: 1px solid #9e9e9e;
    border-radius: 6px;
  }
}
