.catalog {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__controls {
    @include flex-start(30px);
  }

  &__toolbar {
    @include flex-center(space-between);

    margin-bottom: 20px;
  }

  &__title {
    color: $color-bg;
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    align-items: stretch;
  }
}

.view-toggle {
  display: flex;

  border: 1px solid $color-border;
  border-radius: $radius-sm;
  overflow: hidden;

  &__button {
    @include flex-center();

    width: 38px;
    height: 35px;

    font-size: $font-size-large;
    border: none;
    background-color: $color-bg;
    // color: $color-primary;
    fill: $color-primary;

    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      cursor: pointer;
    }

    &--active {
      background-color: $color-primary;
      fill: $color-bg;
    }
  }
}

.sort {
  @include flex-start();

  position: relative;

  &__label {
    @include flex-center(center, 5px);

    position: absolute;
    top: 8px;
    left: 10px;
  }

  &__select {
    width: 260px;
    height: 38px;
    padding-left: 80px;

    border: 1px solid $color-border;
    border-radius: $radius-sm;
  }
}
