.footer {
  padding-top: 45px;
  padding-bottom: 40px;

  color: $color-accent;
  background-color: $color-footer-bg;
  border-top: 1px solid $color-border;

  &__logo {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: $font-weight-normal;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 50px;

    padding-bottom: 30px;
    margin-bottom: 35px;

    font-size: 12px;
    font-weight: $font-weight-normal;

    border-bottom: 1px solid #d1d1d1;
  }

  &__brand,
  &__nav,
  &__newsletter {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 220px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__brand-text {
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__legal {
    @include flex-center(row, space-between)
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
  }

  &__legal-list {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 12px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 5px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 41px;
    height: 40px;

    border: none;
    border-radius: $radius-lg;

    &:hover {
      background-color: $color-input-bg;
    }
  }
}

.newsletter {
  &__form {
    display: block;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__note {
    font-size: 10px;
  }
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 8px;
  overflow: hidden;

  &__input {
    width: 250px;
    height: 35px;
    padding-left: 12px;

    border: none;
    background-color: #eeeeee;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 35px;

    background-color: black;
    border: none;
    font-size: 20px;
  }
}
