.footer {
  padding-top: 45px;
  padding-bottom: 40px;

  color: $color-accent;
  background-color: $color-footer-bg;
  border-top: 1px solid $color-border;

  &__logo {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
  }

  &__inner {
    @include flex-center(flex-start, 50px);

    padding-bottom: 30px;
    margin-bottom: 35px;

    font-size: $font-size-small;
    font-weight: $font-weight-normal;

    border-bottom: 1px solid $color-border;
  }

  &__brand,
  &__nav,
  &__newsletter {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 220px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__brand-text {
    font-size: $font-size-small;
    margin-bottom: 5px;
  }

  &__legal {
    @include flex-center(space-between);
  }

  &__legal-list {
    @include flex-start(12px);

    font-size: $font-size-small;
  }
}

.social {
  @include flex-start(5px);

  &__link {
    @include flex-center();
  }

  &__item {
    @include flex-center();

    width: 41px;
    height: 40px;

    border: none;
    border-radius: $radius-lg;

    &:hover {
      background-color: $color-input-bg;
    }
  }
}

.newsletter {
  &__form {
    display: block;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__note {
    font-size: 10px;
  }
}

.input-group {
  display: flex;
  margin-bottom: 10px;

  border: transparent;
  border-radius: $radius-md;
  overflow: hidden;

  &__input {
    width: 250px;
    height: 35px;
    padding-left: 12px;

    border: none;
    background-color: $color-input-bg;
  }

  &__button {
    @include flex-center();
    
    width: 40px;
    height: 35px;

    border: none;
    background-color: $color-primary;
    font-size: 20px;
  }
}
