.header {
  position: sticky;
  top: 0;
  z-index: 100;

  // background: $color-bg;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid $color-border;

  &__inner {
    @include flex-center(space-between);

    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__center {
    @include flex-start(115px);

    font-size: $font-size-medium;
  }

  &__actions {
    @include flex-start(5px);
  }
}

.logo {
  font-size: $font-size-large;
  font-weight: $font-weight-large;
  letter-spacing: 0;

  color: $color-primary;

  &__letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;

    text-align: center;
    color: $color-bg;
    background: $color-primary;

    border-radius: $radius-md;
  }
}

.nav {
  &__list {
    @include flex-start(32px);
  }
}

.search {
  max-width: 560px;
  min-width: 360px;

  font-size: $font-size-base;

  &__label {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 0 14px 0 32px;

    background-color: $color-input-bg;
    border: transparent;
    border-radius: $radius-lg;
  }
}

.header-btn {
  @include flex-center();

  width: 40px;
  height: 40px;

  background-color: inherit;
  border: none;
  border-radius: $radius-lg;

  &:hover,
  &:focus {
    background-color: $color-input-bg;
  }
}
