.filters {
  position: sticky;
  top: 80px;
  width: 100%;
  max-width: 270px;
  padding: 15px;

  border-radius: $radius-md;
  border: 1px solid $color-border;

  &__title {
    @include flex-start(10px);

    position: relative;
    margin-bottom: 25px;

    font-size: $font-size-large;
    font-weight: $font-weight-normal;
  }

  &__group {
    margin-bottom: 10px;
  }

  &__subtitle {
    @include flex-center(space-between);

    margin: 0 10px 10px 10px;

    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
  }

  &__label {
    @include flex-start(6px);
  }
}

.categories,
.rating {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }
}

.range-bar {
  width: 100%;
}
