.product-card {
//   border: 1px solid $color-border;
  border-radius: 15px;
  background-color: #dfdede;
  overflow: hidden;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__media {
    position: relative;
  }

  &__badges {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__favorites {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 35px;
    height: 35px;

    border: none;
    border-radius: $radius-md;
  }

  &__img {
    width: 100%;
    height: 400px;
    background-color: #7b7b7b;
  }

  &__cart-btn {
    @include flex-center(center, 10px);
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;

    height: 34px;

    border: none;
    border-radius: $radius-md;
    background-color: $color-primary;
    color: $color-bg;
    cursor: pointer;

    .icon {
      @include flex-center();
      fill: $color-bg;
    }
  }

  &__favorites {
    @include flex-center();
  }

  &__meta {
    padding: 15px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__rating {
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 20px;
  }
}

.badge {
  @include flex-center();
  color: $color-bg;
  width: 50px;
  height: 30px;

  border: none;
  border-radius: $radius-md;
  font-weight: $font-weight-medium;

  &--new {
    background-color: green;
  }

  &--sale {
    background-color: red;
  }
}
