.card {
    display: inline-block;
    width: 100%;
    height: 400px;

    border: 2px solid rgb(192, 192, 192);
    border-radius: 15px;
    background-color: #dfdede;

    font-size: 30px;
    font-weight: 700;
    align-items: center;
}