.product-card {
  z-index: 1;

  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;

  transition: scale 0.2s ease;

  &:hover {
    scale: calc(1.03);
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__media {
    position: relative;
    z-index: 2;
  }

  &__badges {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
  }

  &__favorites {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 5;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: $radius-md;
    cursor: pointer;
  }

  &__img {
    z-index: 3;

    width: 100%;
    height: 400px;
    
    background-color: #7b7b7b;
    object-fit: cover;

    transition: scale 0.2s ease;

    .product-card:hover & {
      scale: calc(1.05);
    }
  }

  &__cart-btn {
    @include flex-center(center, 10px);
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    z-index: 6;

    height: 34px;

    border: none;
    border-radius: $radius-md;
    background-color: $color-primary;
    color: $color-bg;
    cursor: pointer;
    opacity: 0;

    transition: opacity 0.3s ease;

    .product-card:hover & {
      opacity: 1;
    }

    .icon {
      @include flex-center();
      fill: $color-bg;
    }
  }

  &__favorites {
    @include flex-center();
  }

  &__meta {
    padding: 15px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__rating {
    margin-bottom: 15px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__price-current {
    font-size: $font-size-large;
    font-weight: $font-weight-large;

    margin-right: 15px;
  }
}

.badge {
  @include flex-center();
  color: $color-bg;
  width: 50px;
  height: 30px;

  border: none;
  border-radius: $radius-md;
  font-weight: $font-weight-medium;

  &--new {
    background-color: $color-success;
  }

  &--sale {
    background-color: $color-destructive;
  }
}
