h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

